$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

// define bootstrap overrides here
$gray-base: #333;

@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import '../../node_modules/flatpickr/dist/flatpickr.min.css';

// hot relaoding workaround,
// don't remove this selector or App.scss will be loaded over and over again
p[_ngfoobar] {
  font-size: inherit;
}

// write or import app css
h1 {
  color: #111;
}

.error {
  color: #a94442;
}

.match {
  color: green;
  text-decoration: underline
}

.dcs-tooltip:hover {
  position: relative;
  font-weight: bold;
}

/* Tooltip on Top */
.dcs-tooltip-top[data-tooltip]:hover:after {
  content: attr(data-tooltip);
  padding: 4px 8px;
  position: absolute;
  left: 0;
  bottom: 100%;
  white-space: nowrap;
  z-index: 20px;
  background-color: #fff;
  color: #000;
  border: 1px solid #999;
  border-radius: 4px;
  box-shadow: 6px 6px 3px #999;
}

.content {
  margin-top: 50px;
}
